<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>Shibboleth Identity Provider</display-name>
  
    <!-- Servlet with LDAP configurations -->
    <servlet>
        <servlet-name>LdapConfig</servlet-name>
        <servlet-class>it.infn.mib.shibboleth.idp.LdapConfigServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
        <init-param>
             <param-name>ldapUrl</param-name>
             <param-value>ldap://127.0.0.1:389</param-value>
        </init-param>
        <init-param>
             <param-name>baseDN</param-name>
             <param-value>ou=people,dc=example,dc=com</param-value>
        </init-param>
        <init-param>
             <param-name>bindDN</param-name>
             <param-value>cn=admin,dc=example,dc=com</param-value>
        </init-param>
        <init-param>
             <param-name>credential</param-name>
             <param-value>password</param-value>
        </init-param>
        <init-param>
             <param-name>salt</param-name>
             <param-value>q9Kk/8_#0mQv:\bsui(V:\fL;eP9Cq</param-value>
        </init-param>
    </servlet>
    
    <!-- Servlet for retrieving S3 credentials -->
    <servlet>
        <servlet-name>AmazonS3Retrieve</servlet-name>
        <servlet-class>it.garr.shibboleth.idp.retrieves3credentials.AmazonS3RetrieveServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
        <init-param>
             <param-name>mailHost</param-name>
             <param-value>smtp.servername</param-value>
        </init-param>
        <init-param>
             <param-name>mailHostPort</param-name>
             <param-value>465</param-value>
        </init-param>
        <init-param>
             <param-name>useSSL</param-name>
             <param-value>true</param-value>
        </init-param>
        <init-param>
             <param-name>mailUser</param-name>
             <param-value>user</param-value>
        </init-param>
        <init-param>
             <param-name>mailPass</param-name>
             <param-value>password</param-value>
        </init-param>
        <init-param>
             <param-name>mailFrom</param-name>
             <param-value>garrbox@garr.it</param-value>
        </init-param>
        <init-param>
             <param-name>mailSubject</param-name>
             <param-value>GarrBox S3 SecretKey</param-value>
        </init-param>
        <init-param>
             <param-name>mailText</param-name>
             <param-value><![CDATA[<h1><font color='#0099CC'><b>&emsp;GarrBOX</b></font></h1><br/>
                                   <i>&emsp;&emsp;Dear $USER$,<br/><br/>
                                   &emsp;&emsp;As you requested Your <b>S3</b> GarrBox Secret Key is reported below.</i><br/><br/><br/>
                                   <b>&emsp;&emsp;Secret Key:</b>&nbsp;$SECRET_KEY$<br/><br/><br/><br/>
                                   &emsp;&emsp;<i>Best reguards,<br/>&emsp;&emsp;GarrBox Team</i>]]></param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>AmazonS3Retrieve</servlet-name>
        <url-pattern>/retrieveS3</url-pattern>
    </servlet-mapping>


    <!-- Servlet for doing S3 authentication -->
    <servlet>
        <servlet-name>AmazonS3AuthHandler</servlet-name>
        <servlet-class>it.garr.shibboleth.idp.login.AmazonS3LoginServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>AmazonS3AuthHandler</servlet-name>
        <url-pattern>/Authn/AmazonS3</url-pattern>
    </servlet-mapping>

    <!-- Servlet added for PAM/NSS authentication -->
    <servlet>
        <servlet-name>nss_jsp</servlet-name>
        <servlet-class>it.infn.mib.shibboleth.idp.nss.NSSServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>nss_jsp</servlet-name>
        <url-pattern>/nss</url-pattern>
    </servlet-mapping>
  
</web-app>