/*
  This is the JAAS configuration file used to authenticate users with Shibboleth.

  A JAAS configuration file is a grouping of LoginModules defined in the following manner:
  <LoginModuleClass> <Flag> <ModuleOptions>;

  LoginModuleClass - fully qualified class name of the LoginModule class
  Flag             - indicates whether the requirement level for the modules;
                         allowed values: required, requisite, sufficient, optional
  ModuleOptions    - a space delimited list of name="value" options

  For complete documentation on the format of this file see:
  http://java.sun.com/j2se/1.5.0/docs/api/javax/security/auth/login/Configuration.html

  For LoginModules available within the Sun JVM see:
  http://java.sun.com/j2se/1.5.0/docs/guide/security/jaas/tutorials/LoginConfigFile.html
*/


Shibboleth {
  it.infn.mib.shibboleth.jaas.JAASShibbolethLoginModule required
  		url="https://sp-test1.mib.garr.it/secure/pam.php"
  		sslcheck="false"
  		sess_username=""
  		truststore=""
  		truststore_password=""
  		recognizers="it.infn.mib.shibboleth.jaas.recognizers.ShibbolethDS,it.infn.mib.shibboleth.jaas.recognizers.ShibbolethIDP,it.infn.mib.shibboleth.jaas.recognizers.SimpleSAMLIDP";
};
