{#nss_list/templates/errorName.html #}
{% load static %}
<!DOCTYPE html>
<html>
<head>
        <title>Register to access to the linux server with Shibboleth credentials</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{% get_static_prefix %}style.css" type="text/css" media="screen" />
</head>
<body>
<div class="header">
	<table cellspacing="0" cellpadding="0" width="100%" class="header"><tr>
	<td align="right" class="header logo">
		<div class="logo">
			<img src="{% get_static_prefix %}tux.png" width="215" height="250" alt="GARRbox" />
		</div>
	</td>
	<td align="left" class="header welcome">
		<div class="welcome">
			<h3>User {{ user.login_name }} registration</h3>
			<p>Registration tool to permit access to linux servers with Shibboleth credentials.
			After this registration procedure, you will be able to access linux servers with your usual
			Shibboleth credentials.<br>
			<br>
			<i>This service is currently in a closed beta phase.</i><br>
			<br>
			</p>
		</div>
	</td>
	</tr></table>
</div>

<div id="info">
	<p>This user is already registered with this data:</p>
	<table>
		<tr><td class="title">login_name</td><td>{{ user.login_name }}</td></tr>
		<tr><td class="title">user_id</td><td>{{ user.user_id }}</td></tr>
		<tr><td class="title">group_id</td><td>{{ user.group_id }}</td></tr>
		<tr><td class="title">full_name</td><td>{{ user.full_name }}</td></tr>
		<tr><td class="title">home_directory</td><td>{{ user.home_directory }}</td></tr>
		<tr><td class="title">login_shell</td><td>{{ user.login_shell }}</td></tr>
	</table>

	{% if user.user_state == 'A' %}
	<p>The current user status is: <span class="status">ACTIVE</span>.</p>
	{% else %}
	<p>The current user status is: <span class="status">INACTIVE</span>.</p>
	{% endif %}
</div>

<div id="footer">
	<p><a href="https://sites.google.com/site/andreabiancini/" target="_blank">Andrea Biancini</a></p>
</div>

</body>
</html>
