# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
# This value must be put to yes in order for the switch to select the IdP
# from WAYF to work property.
ChallengeResponseAuthentication yes
